* {
      margin: 0;
      padding: 0;
      cursor: none;
  }

  body {
      margin: 0;
      height: 100vh;
      background-color: #fff;
      display: flex;
      justify-content: center;
      
      position: relative;
      flex-direction: column;
  }

  .bg { 
      
      position:absolute;
      top: 0px;
      left: 0;
      max-width: 100%;
      width: 100%;
      height: 2200px;
      background-repeat: repeat;
      background-image: url('../../chess_Img/free-vector-seamless-repeating-pattern-background_927442-10.jpg'); /* 배경 이미지 경로 확인 */
      background-position: center;
      background-size: contain;
      opacity: 0.3;
      z-index: -1;
  }

  .container {
      position: absolute;
      top: 20%;
      width: 90%;
      max-width: 1200px;
      margin: 28%;
      padding: 20px;
      background-color: rgba(256, 256, 256, 0.8);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 999;
  }

  h2 {
    color:#ff0000;

      font-size: 2.5rem;
      margin-bottom: 1rem;
      
  }

  h3 {
      font-size: 2rem;
      color: #0015ff;
      margin: 1.5rem 0 0.75rem 0;
  }

  .opening {
      color: #121212;
      font-size: 1.5rem;
  }

  p {
      margin-top: 0.5rem;
      font-size: 1.4rem;
      line-height: 1.8;
  }

  ul {
      font-size: 1.4rem;
      line-height: 1.8;
      margin-left: 2rem;
  }

  li {
      margin-bottom: 1rem;
  }
  .chess-piece {
      position: absolute;
      width: 50px;
      height: 50px;
      opacity: 0;
      transition: opacity 0.3s ease-out, transform 0.2s ease-out;
      z-index: 9999; /* 마우스 기물을 맨 앞으로 배치 */
      transform: translate(-50%, -50%); /* 기물이 마우스 중앙에 위치하도록 조정 */
  }
  
  .custom-cursor {
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #ff0000;
      pointer-events: none;
      transition: background-color 0.05s ease;
      z-index: 9999;
      
  }
  .custom-cursor.click-effect {
      transform: scale(0.7);
      transition: transform 0.1s ease; /* 클릭 후 즉각 반응 */
  }
  
  .king { background: url('../../chess_Img/king.png') no-repeat center/contain; }
  .queen { background: url('../../chess_Img/queen_split_transparent.png') no-repeat center/contain; }
  .rook { background: url('../../chess_Img/rook_split_transparent.png') no-repeat center/contain; }
  .bishop { background: url('../../chess_Img/bishop_split_transparent.png') no-repeat center/contain; }
  .knight { background: url('../../chess_Img/knight_split_transparent.png') no-repeat center/contain; }
  
  @keyframes fall {
      0% {
          opacity: 1;
          transform: translateY(0) rotate(0deg);
      }
      100% {
          opacity: 0;
          transform: translateY(55vh) rotate(var(--rotation-angle));
      }
  }